<template>
  <div class="edit" v-if="article">

    <back-to-home></back-to-home>

    <w-text-field placeholder="Название статьи" v-model="article.title"/>

    <div class="form_field">
      <label for="article_text">Текст</label>
      <textarea id="article_text" v-model="article.text"></textarea>
    </div>
    <div class="controls">
      Создано: {{ createdAt }}
      <div class="right">
        <w-btn class="btn__success" @click="save" :disabled="article.title.length === 0">Сохранить</w-btn>
        <w-btn :to="`/view/${article.name}`">Отмена</w-btn>
      </div>
    </div>
  </div>
</template>

<script>
import BackToHome from '@/components/BackToHome.vue'
import ArticleCreatedAt from '@/mixins/ArticleCreatedAt'

export default {
  components: { BackToHome },
  mixins: [ ArticleCreatedAt ],
  data: () => ({
    article: null
  }),
  mounted () {
    this.$store.dispatch('loadArticles')
    this.fetchArticle()
  },
  methods: {
    fetchArticle () {
      this.article = { ...this.$store.getters.getArticle(this.$route.params.name) }
      if (this.article === null) {
        this.$router.replace({ name: '404' })
      }
    },
    save () {
      this.$store.dispatch('saveArticle', this.article)
        .then((article) => {
          this.$router.push({ name: 'view', params: { name: article.name } })
        })
    }
  }
}
</script>

<style lang="scss">
  .edit {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    .form_field {
      margin-bottom: 20px;
      textarea {
        width: 100%;
        min-height: 400px;
      }
    }
    &__controls {
      .right {
        float: right;
      }
    }
  }
</style>
