<template>
  <div class="home">
    <div class="create">
      <div class="create__input">
      <w-text-field placeholder="Название новой статьи" v-model="name"></w-text-field>
      </div>
      <div class="create__button">
      <w-btn :disabled="name.length === 0" class="btn__success" @click="create">Добавить</w-btn>
      </div>
    </div>
    <ul class="articles">
      <li v-for="item in articles" :key="item.name">
        <router-link :to="`/view/${item.name}`">{{ item.title }}</router-link>
        <div class="controls">
          <router-link :to="`/edit/${item.name}`">Edit</router-link>
          <a  @click="deleteArticle(item.name)">Delete</a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'home',
  data: () => ({
    name: ''
  }),
  methods: {
    deleteArticle (name) {
      this.$store.dispatch('deleteArticle', name)
    },
    create () {
      this.$store.dispatch('createArticle', this.name)
        .then(article => {
          this.name = ''
          this.$router.push({ name: 'edit', params: { name: article.name } })
        })
    }
  },
  mounted () {
    this.$store.dispatch('loadArticles')
  },
  computed: {
    ...mapState({
      articles: 'articles'
    })
  }
}
</script>
<style lang="scss" scoped>
  .home {
    text-align: left;
    padding: 30px;
    @media screen and (min-width: 800px) {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
    .create {
      display: flex;
      &__input {
        width: 70%;
      }
      &__button {
        width: 30%;
        text-align: center;
      }
    }
    .articles {
      padding: 15px 0;
      border-radius: 4px;
      list-style: none;
      li {
        a {
          color: gray;
          cursor: pointer;
        }
        border-radius: 4px;
        margin: 0;
        padding: 10px 5px;
        border-bottom: 1px inset gray;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background: #d8d8d8;
        }
      }
      .controls {
        float: right;
        a {
          color: gray;
          text-decoration: none;
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
  }
</style>
