<template>
  <div class="view" v-if="article">
    <back-to-home></back-to-home>
    <h1>{{ article.title }}</h1>
    <wiki-text :value="article.text"></wiki-text>
    <div class="view__controls">
      Создано: {{ createdAt }}
      <div class="right">
        <w-btn :to="`/edit/${article.name}`">Изменить</w-btn>
      </div>
    </div>
  </div>
</template>

<script>
import BackToHome from '@/components/BackToHome.vue'
import ArticleCreatedAt from '@/mixins/ArticleCreatedAt'
import WikiText from '@/components/WikiText.vue'

export default {
  components: { BackToHome, WikiText },
  mixins: [ ArticleCreatedAt ],
  data: () => ({
    article: null
  }),
  methods: {
    fetchArticle () {
      this.article = this.$store.getters.getArticle(this.$route.params.name)
      if (this.article === null) {
        this.$router.replace({ name: '404' })
      }
    }
  },
  watch: {
    '$route.params.name': function () {
      this.fetchArticle()
    }
  },
  mounted () {
    this.$store.dispatch('loadArticles')
    this.fetchArticle()
  }
}
</script>

<style lang="scss">
  @media only screen and (min-width: 800px) {
    .view {
      width: 40%;
    }
  }
  .view {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    &__content {
      margin-bottom: 10px;
    }
    &__controls {
      .right {
        float: right;
      }
    }
  }
</style>
