<template>
    <div class="nav">
      <router-link to="/">&lt; Вернуться к списку</router-link>
    </div>
</template>

<style lang="scss">
.nav {
  padding: 30px 5px;
  text-align: left;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
