<template>
    <button class="btn" @click="onclick" :disabled="disabled">
        <slot></slot>
    </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    to: {
      default: null
    }
  },
  methods: {
    onclick (e) {
      this.$emit('click', e)
      if (this.to !== null) {
        this.$router.push({ path: this.to })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    .btn {
        border: 0;
        padding: 10px;
        border-radius: 5px;
        margin: 4px;
        cursor: pointer;
        &:disabled {
            background-color: #bcbcbc;
            color: #304455;
        }
        &__success {
            background-color: #42b983;
            color: white;
        }
    }
</style>
