<template>
  <div class="text-field" :class="{ focused: focused || value.length > 0 }">
    <label>{{ placeholder }}</label>
    <input :placeholder="focused ? '' : placeholder" :value="value" @input="$emit('input', $event.target.value)" @focus="focused=true" @focusout="focused=false"/>
  </div>
</template>

<script>
export default {
  data: () => ({
    focused: false
  }),
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
    .text-field {
        display: block;
        position: relative;
        margin-bottom: 10px;
        padding: 10px 0;
        input {
            z-index: -1;
            font-size: 14px;
            width: 100%;
            border: 0;
        }
        label {
            top: 0;
            opacity: 0;
            position: absolute;
            transition: top 0.5s ease-out, opacity 0.5s ease-out;
        }
        &.focused {
            label {
                top: -20px;
                opacity: 1;
            }
            &:after {
                border-bottom: 1px solid blue;
            }
        }
        &:after {
            content: " ";
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid gray;
        }
    }
</style>
